<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>employee data </title>
</head>
<body>
    <h2 style="background-color: aqua;">this is data of employee:<%= data %></h2>
   
</body>
</html>
