<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home page</title>
</head>
<body>
    <h1>this is home.ejs</h1>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quisquam quae, nostrum sequi distinctio perferendis consequatur fugit similique facere. Minus voluptates quia expedita debitis illum sequi maiores rerum! Molestias, omnis cupiditate!</p>
    <button>click me!</button>
</body>
</html>